/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing */

select.yt_dropdownlist10
{
    width: 10ch;
}

select.yt_dropdownlist20
{
    width: 24ch;
}
select.yt_dropdownlist40
{
    width: 44ch;
}
select.yt_dropdownlist80
{
    width: 84ch;
}
