/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing */

span.k-widget.yt_intvalue {
    width:14em;
}
span.k-widget.yt_intvalue2 {
    width: 4em;
}
span.k-widget.yt_intvalue4 {
    width: 5em;
}
span.k-widget.yt_intvalue6 {
    width: 7em;
}
