@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.Date<DateTime?>
<div class="yt_date t_edit">
    @Html.RenderDate("", Model)
</div>
