@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.DateTime<DateTime?>
<div class="yt_datetime t_edit">
  @Html.RenderDateTime("", Model)
</div>
