@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.PageJQueryUISkins<string>
<div class='yt_jqueryuiskin t_edit y_inline'>
    @Html.RenderJQueryUISkins("", Model)@Html.ValidationMessageFor(m => Model)
</div>