@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.PageKendoUISkins<string>
<div class='yt_kendouiskin t_edit y_inline'>
    @Html.RenderKendoUISkins("", Model)@Html.ValidationMessageFor(m => Model)
</div>