@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.Recaptcha<RecaptchaV2Data>
@using YetaWF.Core.Views.Shared
<div id="@DivId" class="yt_recaptchav2"></div>
@Html.RenderHidden("VerifyPresence", Model.VerifyPresence)
@if (IsAjax) { // We only need to render the recaptcha for postbacks. The initial setup is done in recaptchav2.js in response to the onload function called by google api
    <script>
        @using (DocumentReady()) {
            @: grecaptcha.render('@DivId', {
            @:     'sitekey':YConfigs.RecaptchaV2.SiteKey,
            @:     'theme': YConfigs.RecaptchaV2.Theme,
            @:     'size': YConfigs.RecaptchaV2.Size,
            @: });
        }
    </script>
}