@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.TimeZone<string>
<div id="@DivId" class="yt_timezone t_edit y_inline">
    <div class="t_select">
        @Html.RenderTimeZoneDD("", Model)
    </div>
</div>
