@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing */
body {
  font: var(--body-font);
  background: var(--body-bg);
  color: var(--body-clr); }

a {
  outline: none;
  color: var(--a-clr);
  -webkit-text-decoration: var(--a-dec);
          text-decoration: var(--a-dec); }
  a:hover {
    outline: none;
    color: var(--a-clr-hover);
    -webkit-text-decoration: var(--a-dec-hover);
            text-decoration: var(--a-dec-hover); }
  a:focus {
    outline: none;
    color: var(--a-clr-focus);
    -webkit-text-decoration: var(--a-dec-focus);
            text-decoration: var(--a-dec-focus); }
  a[data-nohref] {
    cursor: default; }

form {
  width: 100%; }

body fieldset {
  padding: .5ch .5em .5ch .5em;
  margin: 0;
  border: var(--prop-border); }
  body fieldset legend {
    font: var(--body-font);
    margin-bottom: .5em;
    width: auto;
    border: 0; }

label {
  font-weight: normal;
  margin: 0;
  padding: 0; }

.yCondense label {
  font-weight: bold; }

select.t_native {
  outline: none;
  background: var(--dd-bg);
  color: var(--dd-clr);
  border: var(--dd-border);
  border-radius: var(--dd-border-radius); }
  select.t_native option {
    outline: none; }
    select.t_native option:hover {
      background: var(--dd-bg-hover);
      color: var(--dd-clr-hover); }
    select.t_native option:active, select.t_native option:checked {
      background: var(--dd-bg-active);
      color: var(--dd-clr-active); }
    select.t_native option:focus {
      background: var(--dd-bg-focus);
      color: var(--dd-clr-focus); }

.card {
  padding: 1.25rem;
  background: var(--panel-bg);
  border: var(--panel-border);
  border-radius: var(--panel-border-radius);
  box-shadow: var(--panel-shadow); }

.y_cleardiv {
  clear: both; }

.yHidden {
  display: none; }

.yPane {
  position: relative; }

.yModule {
  position: relative; }

.yPage .yPane.yModule {
  padding-bottom: 1rem; }

/* templates are inline unless they're large, like grids, propertylists etc. */
/* Not all templates follow this rule (yet) */
.y_inline {
  display: inline; }

/* Warnings */
.yDivAlert {
  background: var(--tst-error-bg);
  color: var(--tst-error-clr);
  margin: 1em 0;
  padding: 1em;
  border: var(--tst-border);
  border-radius: var(--tst-border-radius); }

.yDivSmallAlert {
  background: var(--tst-error-bg);
  color: var(--tst-error-clr); }

.yDivWarning {
  background: var(--tst-warn-bg);
  color: var(--tst-warn-clr);
  margin: 1em 0;
  padding: 1em;
  border: var(--tst-border);
  border-radius: var(--tst-border-radius); }

.yDivSmallWarning {
  background: var(--tst-warn-bg);
  color: var(--tst-warn-clr); }

.yDivAdmin {
  background: var(--tst-warn-bg);
  color: var(--tst-warn-clr);
  margin: 1em 0;
  padding: 1em;
  border: var(--tst-border);
  border-radius: var(--tst-border-radius); }

.yDivSmallAdmin {
  background: var(--tst-warn-bg);
  color: var(--tst-warn-clr); }

/* Module Actions */
/* make sure module links don't float left/right */
.yModuleLinksContainer {
  clear: both; }

/* Print */
@media print {
  .yNoPrint {
    display: none; } }

@media screen {
  .yDisplayMode .yPrintOnly {
    display: none; } }

/* Wide Content */
.widecontent .maincontainer {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px; }

.widecontentfill body {
  overflow: hidden; }

.widecontentfill .yPane .yModule {
  margin: 0; }

.widecontentfill .MainPane {
  padding: 0; }

.widecontentfill .maincontainer {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0; }

.widecontentfill footer {
  display: none; }

/* PANE IN EDIT MODE */
.yPage.yEditMode .yPane {
  padding: 1em;
  background: var(--body-bg);
  border: var(--prop-border);
  border-radius: var(--prop-border-radius); }

/* MODULE SKINS */
.yModule {
  clear: both; }
  .yModule .yModuleTitle h1 {
    float: left;
    margin: 0;
    padding: 1rem 0 1rem 0;
    font: var(--mstd-title-font); }
  .yModule .yModuleTitle .yModuleLinksContainer {
    float: right;
    clear: none;
    /* a bit of extra space above the module action links */ }
    @media print {
      .yModule .yModuleTitle .yModuleLinksContainer {
        display: none; } }
    .yModule .yModuleTitle .yModuleLinksContainer .yModuleLinks {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .yModule .yModuleTitle .yModuleLinksContainer .yModuleLinks li {
        display: inline-block; }
      .yModule .yModuleTitle .yModuleLinksContainer .yModuleLinks .yaction-link {
        margin-right: .4ch; }
        .yModule .yModuleTitle .yModuleLinksContainer .yModuleLinks .yaction-link i, .yModule .yModuleTitle .yModuleLinksContainer .yModuleLinks .yaction-link img {
          /* a bit of extra space around the image in a module action link */
          margin-right: .4ch; }
  .yModule > .yModuleLinksContainer {
    clear: none;
    /* a bit of extra space above the module action links */ }
    @media print {
      .yModule > .yModuleLinksContainer {
        display: none; } }
    .yModule > .yModuleLinksContainer .yModuleLinks {
      margin: 0;
      margin-top: .5em;
      padding: 0;
      list-style-type: none; }
      .yModule > .yModuleLinksContainer .yModuleLinks li {
        display: inline-block; }
      .yModule > .yModuleLinksContainer .yModuleLinks .yaction-link {
        margin-right: 1ch; }
        .yModule > .yModuleLinksContainer .yModuleLinks .yaction-link i, .yModule > .yModuleLinksContainer .yModuleLinks .yaction-link img {
          /* a bit of extra space around the image in a module action link */
          margin-right: .4ch; }

.modPanel {
  margin-top: 1rem;
  background: var(--mpnl-bg);
  color: var(--mpnl-clr);
  border: var(--mpnl-border);
  border-radius: var(--mpnl-border-radius); }
  .modPanel .yModuleTitle {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: left;
            justify-content: left;
    -webkit-box-align: center;
            align-items: center;
    border-bottom: var(--mpnl-border);
    padding: .2em; }
    .modPanel .yModuleTitle h1 {
      font: var(--mpnl-title-font);
      padding: 0;
      margin: 0 .5em;
      vertical-align: middle; }
    .modPanel .yModuleTitle .yModuleLinksContainer {
      -webkit-box-flex: 1;
              flex: 1 1;
      display: inline-block;
      padding-right: .5em;
      padding-left: .5em;
      padding-top: .1em; }
      @media print {
        .modPanel .yModuleTitle .yModuleLinksContainer {
          display: none; } }
      .modPanel .yModuleTitle .yModuleLinksContainer .yModuleLinks {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .modPanel .yModuleTitle .yModuleLinksContainer .yModuleLinks li {
          display: inline-block;
          line-height: 1;
          vertical-align: middle; }
        .modPanel .yModuleTitle .yModuleLinksContainer .yModuleLinks .yaction-link {
          margin-right: .5ch;
          margin-bottom: .2em; }
          .modPanel .yModuleTitle .yModuleLinksContainer .yModuleLinks .yaction-link i, .modPanel .yModuleTitle .yModuleLinksContainer .yModuleLinks .yaction-link img {
            margin-right: .4ch; }
        .modPanel .yModuleTitle .yModuleLinksContainer .yModuleLinks .y_button {
          font: var(--mpnl-link-font);
          padding: .3em; }
    .modPanel .yModuleTitle .yModuleExpColl {
      -webkit-box-flex: 0;
              flex: 0 0;
      margin: .2em; }
  .modPanel .yModuleContents {
    background: var(--body-bg);
    color: var(--body-clr);
    padding: 1em; }

.modPanel.t_expanded .yModuleExpColl .t_exp {
  display: none; }

.modPanel.t_collapsed .yModuleExpColl .t_coll {
  display: none; }

.modPanel.t_collapsed .yModuleContents {
  display: none; }

/* OWNERSHIP */
.ypagerole_noUserAnon {
  background: var(--own-page-noUserAnon); }

.ypagerole_noAnon {
  background: var(--own-page-noAnon); }

.ypagerole_noUser {
  background: var(--own-page-noUser); }

.ymodrole_noUserAnon {
  background: var(--own-mod-noUserAnon);
  padding: .7em; }

.ymodrole_noAnon {
  background: var(--own-mod-noAnon);
  padding: .7em; }

.ymodrole_noUser {
  background: var(--own-mod-noUser);
  padding: .7em; }

/* Remaining Kendo components */
.yt_datetime.t_edit input,
.yt_date.t_edit input,
.yt_time.t_edit input {
  background: var(--inp-bg);
  color: var(--inp-clr); }

.yt_datetime.t_edit,
.yt_date.t_edit,
.yt_time.t_edit {
  background: var(--dd-bg);
  color: var(--dd-clr); }
  .yt_datetime.t_edit .k-widget .k-picker-wrap,
  .yt_date.t_edit .k-widget .k-picker-wrap,
  .yt_time.t_edit .k-widget .k-picker-wrap {
    background: var(--dd-bg);
    color: var(--dd-clr);
    border: var(--dd-border);
    border-radius: var(--dd-border-radius);
    padding: 0; }
    .yt_datetime.t_edit .k-widget .k-picker-wrap .k-input,
    .yt_date.t_edit .k-widget .k-picker-wrap .k-input,
    .yt_time.t_edit .k-widget .k-picker-wrap .k-input {
      background: var(--inp-bg);
      color: var(--inp-clr);
      border-radius: var(--dd-border-radius); }
    .yt_datetime.t_edit .k-widget .k-picker-wrap.k-state-hover,
    .yt_date.t_edit .k-widget .k-picker-wrap.k-state-hover,
    .yt_time.t_edit .k-widget .k-picker-wrap.k-state-hover {
      background: var(--dd-bg-hover);
      color: var(--dd-clr-hover);
      border: var(--dd-border-hover); }
    .yt_datetime.t_edit .k-widget .k-picker-wrap.k-state-focused,
    .yt_date.t_edit .k-widget .k-picker-wrap.k-state-focused,
    .yt_time.t_edit .k-widget .k-picker-wrap.k-state-focused {
      background: var(--dd-bg-focus);
      color: var(--dd-clr-focus);
      border: var(--dd-border-focus);
      box-shadow: none; }
    .yt_datetime.t_edit .k-widget .k-picker-wrap.k-state-disabled,
    .yt_date.t_edit .k-widget .k-picker-wrap.k-state-disabled,
    .yt_time.t_edit .k-widget .k-picker-wrap.k-state-disabled {
      opacity: var(--body-dis-opacity); }
    .yt_datetime.t_edit .k-widget .k-picker-wrap > .k-select,
    .yt_date.t_edit .k-widget .k-picker-wrap > .k-select,
    .yt_time.t_edit .k-widget .k-picker-wrap > .k-select {
      background: var(--dd-bg);
      color: var(--dd-clr);
      border: none;
      border-left: var(--dd-border);
      border-top-right-radius: var(--dd-border-radius);
      border-bottom-right-radius: var(--dd-border-radius); }
    .yt_datetime.t_edit .k-widget .k-picker-wrap .k-link,
    .yt_date.t_edit .k-widget .k-picker-wrap .k-link,
    .yt_time.t_edit .k-widget .k-picker-wrap .k-link {
      color: var(--dd-clr); }

.k-animation-container .k-popup.k-calendar-container {
  background: var(--dd-p-bg);
  color: var(--dd-p-clr);
  border: var(--dd-p-border);
  border-radius: 0 0 var(--dd-p-border-radius) var(--dd-p-border-radius);
  box-shadow: var(--dd-p-shadow); }
  .k-animation-container .k-popup.k-calendar-container .k-widget {
    background: var(--dd-p-bg);
    color: var(--dd-p-clr); }
  .k-animation-container .k-popup.k-calendar-container .k-header {
    background: var(--tbl-header-bg);
    color: var(--tbl-header-clr);
    border: none; }
    .k-animation-container .k-popup.k-calendar-container .k-header .k-link {
      background: var(--tbl-header-bg);
      color: var(--tbl-header-clr);
      border-radius: var(--buttonlite-border-radius); }
      .k-animation-container .k-popup.k-calendar-container .k-header .k-link.k-state-hover {
        background: var(--tbl-header-bg-hover);
        color: var(--tbl-header-clr-hover); }
  .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content {
    background: var(--dd-p-bg);
    color: var(--dd-p-clr); }
    .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content th {
      background: var(--dd-p-bg);
      color: var(--dd-p-clr);
      border-top: var(--dd-p-border);
      border-bottom: var(--dd-p-border);
      border-radius: 0 0 var(--dd-p-border-radius) var(--dd-p-border-radius); }
    .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td {
      background: var(--dd-p-bg);
      color: var(--dd-p-clr);
      border-radius: var(--buttonlite-border-radius); }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-other-month:not(.k-today) {
        opacity: .7; }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-weekend:not(.k-today) {
        opacity: .5; }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-hover,
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-hover .k-link {
        background: var(--dd-p-bg-hover);
        color: var(--dd-p-clr-hover); }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-today,
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-today .k-link {
        background: var(--dd-p-bg-focus);
        color: var(--dd-p-clr-focus);
        box-shadow: inset 0 0 0 3px var(--dd-p-bg-hover); }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-focused,
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-focused .k-link {
        background: var(--dd-p-bg-focus);
        color: var(--dd-p-clr-focus);
        box-shadow: none; }
  .k-animation-container .k-popup.k-calendar-container .k-footer {
    background: var(--dd-p-bg);
    color: var(--dd-p-clr); }
    .k-animation-container .k-popup.k-calendar-container .k-footer .k-link {
      background: var(--dd-p-bg);
      color: var(--dd-p-clr); }

.k-animation-container .k-popup.k-calendar-container {
  background: var(--dd-p-bg);
  color: var(--dd-p-clr);
  border: var(--dd-p-border);
  border-radius: 0 0 var(--dd-p-border-radius) var(--dd-p-border-radius);
  box-shadow: var(--dd-p-shadow); }
  .k-animation-container .k-popup.k-calendar-container .k-widget {
    background: var(--dd-p-bg);
    color: var(--dd-p-clr); }
  .k-animation-container .k-popup.k-calendar-container .k-header {
    background: var(--tbl-header-bg);
    color: var(--tbl-header-clr);
    border: none; }
    .k-animation-container .k-popup.k-calendar-container .k-header .k-link {
      background: var(--tbl-header-bg);
      color: var(--tbl-header-clr);
      border-radius: var(--buttonlite-border-radius); }
      .k-animation-container .k-popup.k-calendar-container .k-header .k-link.k-state-hover {
        background: var(--tbl-header-bg-hover);
        color: var(--tbl-header-clr-hover); }
  .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content {
    background: var(--dd-p-bg);
    color: var(--dd-p-clr); }
    .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content th {
      background: var(--dd-p-bg);
      color: var(--dd-p-clr);
      border-top: var(--dd-p-border);
      border-bottom: var(--dd-p-border);
      border-radius: 0 0 var(--dd-p-border-radius) var(--dd-p-border-radius); }
    .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td {
      background: var(--dd-p-bg);
      color: var(--dd-p-clr);
      border-radius: var(--buttonlite-border-radius); }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-other-month:not(.k-today) {
        opacity: .7; }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-weekend:not(.k-today) {
        opacity: .5; }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-hover,
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-hover .k-link {
        background: var(--dd-p-bg-hover);
        color: var(--dd-p-clr-hover); }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-today,
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-today .k-link {
        background: var(--dd-p-bg-focus);
        color: var(--dd-p-clr-focus);
        box-shadow: inset 0 0 0 3px var(--dd-p-bg-hover); }
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-focused,
      .k-animation-container .k-popup.k-calendar-container .k-calendar-view table.k-content td.k-state-focused .k-link {
        background: var(--dd-p-bg-focus);
        color: var(--dd-p-clr-focus);
        box-shadow: none; }
  .k-animation-container .k-popup.k-calendar-container .k-footer {
    background: var(--dd-p-bg);
    color: var(--dd-p-clr); }
    .k-animation-container .k-popup.k-calendar-container .k-footer .k-link {
      background: var(--dd-p-bg);
      color: var(--dd-p-clr); }

.k-animation-container .k-list-container {
  background: var(--dd-p-bg);
  color: var(--dd-p-clr);
  border: var(--dd-p-border);
  border-radius: 0 0 var(--dd-p-border-radius) var(--dd-p-border-radius);
  box-shadow: var(--dd-p-shadow); }
  .k-animation-container .k-list-container .k-item.k-state-hover {
    background: var(--dd-p-bg-hover);
    color: var(--dd-p-clr-hover); }
  .k-animation-container .k-list-container .k-item.k-state-selected {
    background: var(--dd-p-bg-focus);
    color: var(--dd-p-clr-focus); }
