/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing */

// STANDARDS FOR ALL SKINS - ALWAYS INCLUDED AFTER SKIN

body {
    font: var(--body-font);
    background: var(--body-bg);
    color:  var(--body-clr);
}

a {
    outline:none;
    color: var(--a-clr);
    text-decoration: var(--a-dec);
    &:hover {
        outline:none;
        color: var(--a-clr-hover);
        text-decoration: var(--a-dec-hover);
    }
    &:focus {
        outline:none;
        color: var(--a-clr-focus);
        text-decoration: var(--a-dec-focus);
    }
    &[data-nohref] {
        cursor: default;
    }
}

form {
    width:100%;
}
body fieldset {
    padding:.5ch .5em .5ch .5em;
    margin:0;
    border: var(--prop-border);
    legend {
        font: var(--body-font);
        margin-bottom: .5em;
        width:auto;
        border:0;
    }
}

label {
    font-weight:normal;
    margin:0;
    padding:0;
}
.yCondense label {
    font-weight:bold;
}

select.t_native { // native select (not DropDownList)
    outline:none;
    background: var(--dd-bg);
    color: var(--dd-clr);
    border: var(--dd-border);
    border-radius: var(--dd-border-radius);
    option {
        outline:none;
        &:hover {
            background: var(--dd-bg-hover);
            color: var(--dd-clr-hover);
        }
        // these don't really work
        &:active, &:checked {
            background: var(--dd-bg-active);
            color: var(--dd-clr-active);
        }
        &:focus {
            background: var(--dd-bg-focus);
            color: var(--dd-clr-focus);
        }
    }
}

.card { // what used to be bootstrap cards
    padding: 1.25rem;

    background: var(--panel-bg);
    border: var(--panel-border);
    border-radius: var(--panel-border-radius);
    box-shadow: var(--panel-shadow);

    // background-image: linear-gradient(white, #e9ecef 60%, #e3e7eb);
    // background-color: #f8f9fa !important;
}

.y_cleardiv {//TODO: REMOVE
    clear:both;
}
.yHidden {//TODO: REMOVE
    display:none;
}

.yPane {
    position: relative;
}

.yModule {
    position: relative;
}

.yPage .yPane.yModule {
    padding-bottom:1rem;
}

/* templates are inline unless they're large, like grids, propertylists etc. */
/* Not all templates follow this rule (yet) */
.y_inline {//TODO: REMOVE, should be in template css
    display:inline;
}

/* Warnings */

.yDivAlert {
    background: var(--tst-error-bg);
    color: var(--tst-error-clr);
    margin: 1em 0;
    padding: 1em;
    border: var(--tst-border);
    border-radius:var(--tst-border-radius);
}
.yDivSmallAlert {
    background: var(--tst-error-bg);
    color: var(--tst-error-clr);
}

.yDivWarning {
    background: var(--tst-warn-bg);
    color: var(--tst-warn-clr);
    margin: 1em 0;
    padding:1em;
    border: var(--tst-border);
    border-radius:var(--tst-border-radius);
}

.yDivSmallWarning {
    background: var(--tst-warn-bg);
    color: var(--tst-warn-clr);
}

.yDivAdmin {
    background: var(--tst-warn-bg);
    color: var(--tst-warn-clr);
    margin: 1em 0;
    padding: 1em;
    border: var(--tst-border);
    border-radius:var(--tst-border-radius);
}
.yDivSmallAdmin {
    background: var(--tst-warn-bg);
    color: var(--tst-warn-clr);
}

/* Module Actions */
/* make sure module links don't float left/right */
.yModuleLinksContainer {
    clear:both;
}

/* Print */

@media print {
    .yNoPrint {
        display: none;
    }
}

@media screen {
    .yDisplayMode .yPrintOnly {
        display: none;
    }
}

/* Wide Content */

.widecontent {
    .maincontainer  {
        width:100%;
        max-width:100%;
        margin-left:0;
        margin-right:0;
        padding-right: 20px;
    }
}
.widecontentfill {
    body {
        overflow: hidden; // no scrollbars
    }
    .yPane .yModule {
        margin:0;
    }
    .MainPane {
        padding:0;
    }
    .maincontainer  { // the main container owns all
        width:100%;
        max-width:100%;
        margin-left:0;
        margin-right:0;
    }
    footer {// don't show footer
        display:none;
    }
}

/* PANE IN EDIT MODE */

.yPage.yEditMode .yPane {
    padding: 1em;
    background: var(--body-bg);
    border: var(--prop-border);
    border-radius:var(--prop-border-radius);
}

/* MODULE SKINS */

.yModule {// any module
    clear: both;
    .yModuleTitle {
        h1 {
            float:left;
            margin:0;
            padding: 1rem 0 1rem 0;
            font: var(--mstd-title-font);
        }
        .yModuleLinksContainer {
            float:right;
            clear:none;
            @media print {
                display: none;
            }
            /* a bit of extra space above the module action links */
            .yModuleLinks {
                margin:0;
                padding:0;
                list-style-type: none;
                li {
                    display:inline-block;
                }
                .yaction-link {
                    i, img {/* a bit of extra space around the image in a module action link */
                        margin-right:.4ch;
                    }
                    margin-right:.4ch;
                }
            }
        }
    }
    > .yModuleLinksContainer {
        clear:none;
        @media print {
            display: none;
        }
        /* a bit of extra space above the module action links */
        .yModuleLinks {
            margin:0;
            margin-top:.5em;
            padding:0;
            list-style-type: none;
            li {
                display:inline-block;
            }
            .yaction-link {
                i, img {/* a bit of extra space around the image in a module action link */
                    margin-right:.4ch;
                }
                margin-right:1ch;
            }
        }
    }
}

.modPanel {
    margin-top: 1rem;
    background: var(--mpnl-bg);
    color: var(--mpnl-clr);
    border: var(--mpnl-border);
    border-radius: var(--mpnl-border-radius);
    .yModuleTitle {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        border-bottom: var(--mpnl-border);
        padding:.2em;
        h1 {
            font: var(--mpnl-title-font);
            padding: 0;
            margin: 0 .5em;
            vertical-align: middle;
        }
        .yModuleLinksContainer {
            flex: 1 1;
            display: inline-block;
            padding-right: .5em;
            padding-left: .5em;
            padding-top:.1em;
            @media print {
                display: none;
            }
            .yModuleLinks {
                margin:0;
                padding:0;
                list-style-type: none;
                li {
                    display:inline-block;
                    line-height:1;
                    vertical-align: middle;
                }
                .yaction-link {
                    i, img {
                        margin-right:.4ch;
                    }
                    margin-right:.5ch;
                    margin-bottom:.2em;
                }
                .y_button { // smaller buttons
                    font: var(--mpnl-link-font);
                    padding:.3em;
                }
            }
        }
        .yModuleExpColl {
            flex: 0 0;
            margin:.2em;
        }
    }
    .yModuleContents {
        background: var(--body-bg);
        color: var(--body-clr);
        padding: 1em;
    }
}

.modPanel {
    &.t_expanded {
        .yModuleExpColl {
            .t_exp {
                display:none;
            }
        }
    }
    &.t_collapsed {
        .yModuleExpColl {
            .t_coll {
                display:none;
            }
        }
        .yModuleContents {
            display:none;
        }
    }
}

/* OWNERSHIP */

.ypagerole_noUserAnon {
    background: var(--own-page-noUserAnon);
}
.ypagerole_noAnon {
    background: var(--own-page-noAnon);
}
.ypagerole_noUser {
    background: var(--own-page-noUser);
}
.ymodrole_noUserAnon {
    background: var(--own-mod-noUserAnon);
    padding:.7em;
}
.ymodrole_noAnon {
    background: var(--own-mod-noAnon);
    padding:.7em;
}
.ymodrole_noUser {
    background: var(--own-mod-noUser);
    padding:.7em;
}

