@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.Text<System.String>
@if (!string.IsNullOrWhiteSpace(Model)) { 
    <div class='yt_email t_display'><a href="mailto:@Model">@Model</a></div>
}
