@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Pages.RazorTemplate<long>
<div class='yt_filesize t_display'>@YetaWF.Core.Localize.Formatting.FormatFileSize(Model)</div>

