@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.Image<string>
<div class="yt_image t_display">
    @Html.RenderImagePreviewDisplay("", Model, ForceHttpHandler: true)
</div>
