@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.PageJQueryUISkins<string>
<div class='yt_jqueryuiskin t_display'>
    @if (string.IsNullOrEmpty(Model)) {
        @: &nbsp;
    } else {
        @: @Model
    }
</div>