@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.LongValue<long> 
<div class='yt_longvalue t_display y_inline'>@Model.ToString()</div>
