@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.LongValue<long> 
<div class='yt_longvalue t_display'>@Model.ToString()</div>
