@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.ModuleSelection<Guid?>
<div class="yt_moduleselection t_display y_inline">
    @Html.RenderModuleSelectionDisplay("", Model)
</div>