@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.PageSyntaxHighlighterSkins<string>
<div class='yt_syntaxhighlighterskin t_display'>
    @if (string.IsNullOrEmpty(Model)) {
        @: @__ResStr("noSyntaxHighlighterSkin", "(default)")
    } else {
        @: @Model
    }
</div>