@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Pages.RazorTemplate<TimeSpan?>
@if (Model != null) {
    <div class='yt_timespan t_display'>
        @YetaWF.Core.Localize.Formatting.FormatTimeSpan(Model)
    </div>
}