@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.TimeZone<string>
<div class="yt_timezone t_display">
    @Html.RenderTimeZoneDisplay("", Model)
</div>