@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.Url<System.String>
@if (!string.IsNullOrWhiteSpace(Model)) {
    <div class="yt_url t_display">
        @Html.RenderUrlDisplay("", Model)
    </div>
}
