/* Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing */

div.y_cleardiv {/* EVERY SKIN NEEDS THIS */
    clear:both;
}

.yPane {
    position: relative;
}

/* Module */
.yModule {
    position: relative;
}

/* Header/Footer */
.y_header {
    padding-bottom: .8ch;
}
.y_footer {
    padding-top: .8ch;
    padding-bottom: .8ch;
}

/* Warnings */
.yDivAlert {
    background-color: red;
    color: white;
    padding: 1em;
    border: 1px solid gray;
    border-radius:5px;
    margin: 1em 0 1em 0;
}
.yDivSmallAlert {
    background-color: red;
    color: white;
}

.yDivWarning {
    background-color: orange;
    color: white;
    padding:1em;
    border: 1px solid gray;
    border-radius:5px;
    margin: 1em 0 1em 0;
}

.yDivSmallWarning {
    background-color: orange;
    color: white;
}
.yDivAdmin {
    background-color: gray;
    color: black;
    padding: 1em;
    border: 1px solid gray;
    border-radius:5px;
    margin: 1em 0 1em 0;
}
.yDivSmallAdmin {
    background-color: gray;
    color: black;
}

/* tooltip */
.ui-tooltip.ui-widget {
    font-size:12px;
    z-index:20000;
    overflow:hidden;
}
@media print {
    .ui-tooltip {
        display:none !important;
    }
}


/* make sure module links don't float left/right */
.yModuleLinksContainer {
    clear:both;
}

/* Ui overlay leaves horizontal stripe without this fix*/
.ui-widget-overlay {
    background: #333;
}

/* popups */
.ui-dialog {
    z-index:2000 !important;
}

/* To keep ui dialogs on top of everything */
.ui-front {
    z-index: 3000;
}

/* templates are inline unless they're large, like grids, propertylists etc. */

.y_inline {
    display:inline;
}