/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing */

.yt_propertylisttabbed .t_table {
    padding-top: 10px;
    width: auto;
}

.yt_propertylisttabbed .t_row {
    width: auto;
    clear: both;
    padding-bottom: 0.5em;
}

.yt_propertylisttabbed .t_labels {
    float: left;
    width: 25ch;
}
.yt_propertylisttabbed .t_vals {
    overflow:hidden;
}
.yt_propertylisttabbed .t_labels.t_fillerbelow {
    clear:both;
}
.yt_propertylisttabbed .t_vals.t_textabove {
    padding-bottom: 0.5em;
}
.yt_propertylisttabbed .t_vals.t_textbelow {
    padding-top: 0.5em;
}
