/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing */

input[type="password"].yt_password10
{
    width: 14ch;
}

input[type="password"].yt_password20
{
    width: 24ch;
}
input[type="password"].yt_password,
input[type="password"].yt_password40
{
    width: 44ch;
}
input[type="password"].yt_password80
{
    width: 84ch;
}
