@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.RazorView<string>
@if (!string.IsNullOrWhiteSpace(Model)) {
    <div class="@YetaWF.Core.Globals.CssDivAlert">@Model</div>
}
